name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    if: github.event.sender.type == 'User'
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v6
    
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '18'
        
    - name: Install dependencies
      run: npm ci
      
    - name: Run Test Scrape
      run: npm test
